table {
  border-spacing: 2px;
  border-collapse: collapse;
  color: white;
  border: solid black 3px;
}

td {
  background-color: slategray;
  border: solid black 3px;
  padding: 5px;
}

td:hover {
  background-color: blue;
}
th {
  border: solid black 3px;
  padding: 5px;
}

th:hover {
  background-color: blue;
}

tr {
  background-color: darkslategrey;
  border: solid black 3px;
}

main {
  margin-top: 10%;
}

#main-header {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
}

body {
  background-color: lightpink;
}

#salmon-logo {
  position: relative;
  display: block;
  width: 200px;
  height: auto;
}

#family {
  height: 300px;
  width: auto;
  align-content: center;
}

img:not(#salmon-logo) {
  border: ridge black 5px;
}

.product {
  height: 200px;
  width: auto;
}

.city, #city-header {
  display: inline;
  text-align: center;
}


