table {
  border-spacing: 2px;
  border-collapse: collapse;
  color: white;
  border: solid black 3px;
}

td {
  background-color: slategray;
  border: solid black 3px;
  padding: 5px;
}

td:hover {
  background-color: blue;
}
th {
  border: solid black 3px;
  padding: 5px;
}

th:hover {
  background-color: blue;
}

tr {
  background-color: darkslategrey;
  border: solid black 3px;
}

