table {
  background: slategray;
  border-spacing: 2px;
  border-collapse: collapse;
  color: white;
  border: solid black 3px;
}

th {
  border: solid black 3px;
  padding: 5px;
}

tr {
  border: solid black 3px;

}

td {
  border: solid black 3px;
  padding: 5px;
}

tr:hover {
  background-color: blue;
}
